.data-hora{
    text-align: center;
}



.btn-dialog-fechar{
    position: absolute;
    top: 0;
    right: 0;
    border: 0px;
    height: 35px;
    width: 40px;
    color: #ff0000;
    background-color: white;
    cursor: pointer;
}
